:root {
  --color-fill-content: rgba(0, 0, 0, 0.06);
  --color-fill-alter: rgba(0, 0, 0, 0.02);
  --color-fill: rgba(0, 0, 0, 0.15);
  --color-fill-secondary: rgba(0, 0, 0, 0.06);
  --color-fill-tertiary: rgba(0, 0, 0, 0.04);
  --color-fill-quaternary: rgba(0, 0, 0, 0.02);
  --color-bg-container-disabled: #dfe6ef;
  --color-bg-text-hover: rgba(0, 0, 0, 0.06);
  --color-bg-container: #ffffff;
  --color-bg-layout: #f5f5f5;
  --color-bg-elevated: #ffffff;
  --color-bg-mask: rgba(0, 0, 0, 0.7);
  --color-bg-base: #ffffff;
  --color-bg-spotlight: rgba(0, 0, 0, 0.85);
  --color-bg-text-active: rgba(0, 0, 0, 0.15);
  --color-text-placeholder: #b8c3d7;
  --color-text-disabled: #b8c3d7;
  --color-text-heading: #323c47;
  --color-text-description: #8d9ab2;
  --color-text: #323c47;
  --color-text-quaternary: #b8c3d7;
  --color-text-base: #000000;
  --color-text-light: #ffffff;
  --color-text-secondary: #5f6b7e;
  --color-text-tertiary: #8d9ab2;
  --control-item-bg-hover: rgba(0, 0, 0, 0.04);
  --control-item-bg-active: #e8f3fd;
  --control-item-bg-active-hover: #d1dfff;
  --color-border: #dfe6ef;
  --color-border-secondary: #f2f6f9;
  --color-split: #f2f6f9;
  --color-primary-bg: #e8f3fd;
  --color-primary-border: #a8bfff;
  --color-primary-border-hover: #d1dfff;
  --color-primary-hover: #4689ff;
  --color-primary: #006ae6;
  --color-primary-active: #005fea;
  --color-primary-text-hover: #4689ff;
  --color-primary-text: #006ae6;
  --color-primary-text-active: #005fea;
  --color-primary-bg-hover: #d1dfff;
  --color-success-bg: #f0faee;
  --color-success-bg-hover: #d3f0cd;
  --color-success-border: #b6e5ad;
  --color-success-border-hover: #97da8d;
  --color-success-hover: #75cf6d;
  --color-success: #4ec34b;
  --color-success-active: #14b529;
  --color-success-text-hover: #1c9625;
  --color-success-text: #1f7821;
  --color-success-text-active: #1d5b1d;
  --color-warning-bg: #fff7ed;
  --color-warning-bg-hover: #ffe7ca;
  --color-warning-border: #ffd7a7;
  --color-warning-border-hover: #ffc784;
  --color-warning-hover: #ffb761;
  --color-warning: #ffa73a;
  --color-warning-active: #f99602;
  --color-warning-text-hover: #ce7c0e;
  --color-warning-text: #a36413;
  --color-warning-text-active: #7b4c14;
  --color-error-bg: #ffefea;
  --color-error-bg-hover: #fecec1;
  --color-error-border: #f9ae9a;
  --color-error-border-hover: #f18e74;
  --color-error-hover: #e66c50;
  --color-error: #da462c;
  --color-error-active: #c9150b;
  --color-error-text-hover: #a61a0d;
  --color-error-text: #851b0d;
  --color-error-text-active: #661a0d;
  --color-link: #006ae6;
  --color-link-hover: #4689ff;
  --color-link-active: #005fea;
  --color-icon: rgba(0, 0, 0, 0.45);
  --color-icon-hover: rgba(0, 0, 0, 0.88);
  --blue-1: #f0fbff;
  --blue-2: #e8f3fd;
  --blue-3: #d1dfff;
  --blue-4: #a8bfff;
  --blue-5: #7ba2ff;
  --blue-6: #4689ff;
  --blue-7: #006ae6;
  --blue-8: #005fea;
  --blue-9: #0050c7;
  --blue-10: #00449f;
  --neutral-light-8: #b0b1b5;
  --neutral-light-7: #bcbec1;
  --neutral-light-2: #f9fafb;
  --neutral-light-10: #8e9094;
  --neutral-light-9: #a3a5a9;
  --neutral-light-5: #d5d6d9;
  --neutral-light-4: #e2e3e5;
  --neutral-light-3: #eff0f1;
  --neutral-light-6: #c8cacc;
  --neutral-light-1: #fcfcfd;
  --neutral-dark-10: #1e1e1e;
  --neutral-dark-3: #737373;
  --neutral-dark-6: #4c4c4c;
  --neutral-dark-2: #808080;
  --neutral-dark-8: #343434;
  --neutral-dark-5: #595959;
  --neutral-dark-7: #404040;
  --neutral-dark-4: #666666;
  --neutral-dark-9: #292929;
  --neutral-dark-1: #8e8e8e;
  --red-10: #661a0d;
  --red-9: #851b0d;
  --red-8: #a61a0d;
  --red-7: #c9150b;
  --red-6: #da462c;
  --red-3: #f9ae9a;
  --red-5: #e66c50;
  --red-4: #f18e74;
  --red-2: #fecec1;
  --red-1: #ffefea;
  --yellow-9: #9f7d15;
  --yellow-7: #f0bc02;
  --yellow-8: #c79c10;
  --yellow-3: #ffe5ac;
  --yellow-5: #fcd168;
  --yellow-4: #ffdb8a;
  --yellow-10: #785f16;
  --yellow-6: #f8c841;
  --yellow-2: #ffefcd;
  --yellow-1: #fffaee;
  --orange-10: #7b4c14;
  --orange-8: #ce7c0e;
  --orange-7: #f99602;
  --orange-6: #ffa73a;
  --orange-5: #ffb761;
  --orange-1: #fff7ed;
  --orange-2: #ffe7ca;
  --orange-4: #ffc784;
  --orange-9: #a36413;
  --orange-3: #ffd7a7;
  --light-orange-9: #a15122;
  --light-orange-8: #ca6428;
  --light-orange-5: #ffa26c;
  --light-orange-6: #fd8d4c;
  --light-orange-4: #ffb78c;
  --light-orange-3: #ffcbac;
  --light-orange-7: #f4772d;
  --light-orange-2: #ffe0cc;
  --light-orange-10: #7b3f1d;
  --light-orange-1: #fff4ee;
  --turquoise-10: #236863;
  --turquoise-9: #268a83;
  --turquoise-8: #27ada4;
  --turquoise-6: #5addd3;
  --turquoise-7: #23d2c7;
  --turquoise-1: #f2fcfb;
  --turquoise-5: #5addd3;
  --turquoise-4: #80e4db;
  --turquoise-3: #bdf0eb;
  --turquoise-2: #d8f6f3;
  --light-sea-green-10: #20623f;
  --light-sea-green-9: #238252;
  --light-sea-green-7: #20c67a;
  --light-sea-green-5: #7adba2;
  --light-sea-green-6: #54d28e;
  --light-sea-green-4: #9ae3b6;
  --light-sea-green-1: #f1fbf4;
  --light-sea-green-3: #b8eccb;
  --light-sea-green-8: #23a366;
  --light-sea-green-2: #d5f4df;
  --green-9: #1f7821;
  --green-7: #14b529;
  --green-6: #4ec34b;
  --green-8: #1c9625;
  --green-5: #75cf6d;
  --green-3: #b6e5ad;
  --green-10: #1d5b1d;
  --green-4: #97da8d;
  --green-2: #d3f0cd;
  --green-1: #f0faee;
  --orange-red-9: #a43018;
  --orange-red-7: #f93d1d;
  --orange-red-10: #7c2815;
  --orange-red-3: #ffbba3;
  --orange-red-4: #ff9f80;
  --orange-red-5: #ff825e;
  --orange-red-8: #ce371b;
  --orange-red-6: #ff613c;
  --orange-red-2: #ffd6c7;
  --orange-red-1: #fff1ec;
  --deep-sky-blue-10: #225e72;
  --deep-sky-blue-9: #257d98;
  --deep-sky-blue-6: #58caf0;
  --deep-sky-blue-5: #7fd4f3;
  --deep-sky-blue-8: #239dbf;
  --deep-sky-blue-7: #1dbee9;
  --deep-sky-blue-4: #a0def6;
  --deep-sky-blue-3: #bde7f9;
  --deep-sky-blue-2: #d8f1fb;
  --deep-sky-blue-1: #f2fafe;
  --light-indigo-10: #422d6d;
  --light-indigo-6: #926ae3;
  --light-indigo-9: #543990;
  --light-indigo-3: #d0b9f4;
  --light-indigo-5: #a784e9;
  --light-indigo-8: #6745b5;
  --light-indigo-4: #bc9fef;
  --light-indigo-2: #e3d5f8;
  --light-indigo-7: #7a51db;
  --light-indigo-1: #f6f1fd;
  --pink-8: #bd3c71;
  --pink-7: #e54487;
  --pink-6: #ee6699;
  --pink-4: #f9a1bd;
  --pink-10: #732a46;
  --pink-9: #97335b;
  --pink-3: #fdbccf;
  --pink-2: #ffd7e2;
  --pink-5: #f484ab;
  --pink-1: #fff1f5;
  --coldgrey-1: #f2f6f9;
  --coldgrey-2: #dfe6ef;
  --coldgrey-3: #ccd5e4;
  --coldgrey-4: #b8c3d7;
  --coldgrey-5: #a3b0c6;
  --coldgrey-6: #8d9ab2;
  --coldgrey-7: #768399;
  --coldgrey-8: #5f6b7e;
  --coldgrey-9: #485463;
  --coldgrey-10: #323c47;
}
